; Memory configuration file examples 
;*######DRAM buffer: 1GB(1channel*1rank*8banks*32cols*65536rows*tburst*8); bandwidth:400*2*8=6.4GB/s; 16-way assoc, 4KB cache line #####*
;*##### buffer memory translation: SA:R:RK:BK:C:CH  ###*
;*##### main memory: 32GB( 4channels*8ranks*8banks*32cols*65536rows*tburst*8=32GB) ####*
;*##### main memory translation: SA:R:RK:BK:C:CH  ###*
;================================================================================
; Interface specifications
CLK 666

; Multipler. 1 for DDR, 2 for DDR2, 4 for DDR3
MULT 4

; Data Rate. 1 for SDR, 2 for DDR
RATE 2

; Bus width in bits. JEDEC standard is 64-bits
BusWidth 64

; Number of bits provided by each device in a rank
; Number of devices is calculated using BusWidth / DeviceWidth.
DeviceWidth 8

; Number of bits per clock cycle
BPC 8

; NVMain use CLK and CPUFreq to do the synchronization. The ratio CLK/CPUFreq
; is actually used. So a simple CLK=1 and CPUFreq=4 still works for simulation. 
; However, it is straightforward to make it informative.
CPUFreq 3200
EventDriven true
;================================================================================

;********************************************************************************
; General memory system configuration
BANKS 8
RANKS 1
CHANNELS 1
ROWS 32768
COLS 64
; whether enable sub-array level parallelism (SALP)
; options: 
;   No SALP: MATHeight = ROWS
;   SALP: number of subarrays = ROWS / MATHeight
MATHeight 32768

; Memory device timing parameters (in memory cycle) 
tBURST 8 ; length of data burst


; Specify which memory controller to use
; options: PerfectMemory, FCFS, FRFCFS, FRFCFS-WQF, DRC (for 3D DRAM Cache)
MEM_CTL FRFCFS
BufferLineSize 4096  ;4KB
ASSOC 16
FillQueueSize 8
MM_CONFIG hybrid_example.config
DRC_CHANNEL0 DRAM_channel.config

WriteMode WriteBack
CMemType HierDRAMCache 
