;*##### HSCH hierarchical physical memory definition #####* 
;*#####cpu freq: 4GHZ; memory freq: 400MHZ
;*##### HSCH buffer: 1GB(1channel*8banks*1rank*65536rows*32cols*tBurst*8=1GB); bandwidth:6.4GB/s #####*
;*##### HSCH main memory: 32GB(4channels*8ranks*8banks*65536rows*32cols*tburst*8=32GB)  #####*
;*##### main memory translation: SA:R:RK:BK:C:CH  ####*
;*##### DRAM buffer translation: SA:R:RK:BK:C:CH  ####*

;================================================================================
; Interface specifications

; Clock rates in MHz for the channel and CPU frequency
CLK 666
CPUFreq 3200

;================================================================================
; General memory system configuration
EventDriven true
; Number of channels in the system
CHANNELS 4

BANKS 8
RANKS 8
ROWS 32768
COLS 64
MATHeight 32768

; DRAM buffer channel
CONFIG_DRAM_CHANNEL0 DRAM_channel.config 
ReservedChannels 1

CONFIG_CHANNEL0 NVM_channel.config
CONFIG_CHANNEL1 NVM_channel.config
CONFIG_CHANNEL2 NVM_channel.config
CONFIG_CHANNEL3 NVM_channel.config
;================================================================================
; Memory controller parameters

; We need address mapping scheme. It is up to the user to make sure
; the bits selected to find the channel match all of the channel's
; decoders in the hybrid system. For simplicity we use xx:CH:C --
; Because our hardware-based migrator requires the number of columns
; to be the same, the channels will also be at the same bits.
;AddressMappingScheme SA:R:RK:BK:CH:C
;AddressMappingScheme SA:R:RK:BK:CH:C
AddressMappingScheme SA:R:RK:BK:C:CH
INTERCONNECT OffChipBus
DRAMBufferDecoder BufferDecoder

;================================================================================

;********************************************************************************
; Simulation control parameters
;
EchoPreTrace false

TraceReader NVMainTrace

;================================================================================
; Define our hardware-based migrator, which is a Hook.
CMemType FineNVMain
StatsFile m5out/HybridExample.log
